body{
    margin: 0;
    padding: 0;
    border: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

.container{

    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: bisque;
    overflow:hidden;
}

.bannerLink{
    text-decoration: none;
    background-color: gray;
    text-align: center;
    writing-mode: vertical-rl;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
    
}

#aboutMeLink{
    background-image: url(../images/about_me_image.png);
    background-size: 125%;
    transition: transform ease 1s;
    
}

#aboutMeLink:hover{
    background-image: url(../images/about_me_image.png);
    background-size: 125%;
    transform: scale(1.1,1.1);
    transition: transform ease 1s;  
}

#blogLink{
    background-image: url(../images/blog_image.png);
    background-size: 125%;
    transition: transform ease 1s;
}

#blogLink:hover{
    background-image: url(../images/blog_image.png);
    background-size: 125%;
    transform: scale(1.1,1.1);
    transition: transform ease 1s;  
}

#codeLink{
    background-image: url(../images/code_image.png);
    background-size: 125%;
    transition: transform ease 1s;
}

#codeLink:hover{
    background-image: url(../images/code_image.png);
    background-size: 125%;
    transform: scale(1.1,1.1);
    transition: transform ease 1s;  
}

#portfolioLink{
    background-image: url(../images/portfolio_image.png);
    background-size: 125%;
    transition: transform ease 1s;
}

#portfolioLink:hover{
    background-image: url(../images/portfolio_image.png);
    background-size: 125%;
    transform: scale(1.1,1.1);
    transition: transform ease 1s;  
}



